# Don't push virtual environment folder.
venv

# We will create the correct symlink during the installation of the project.
create_venv.sh

# Don't push audio/annotation files.
*.wav
*.TextGrid

# Python cache.
*.pyc